{
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "no-debugger": 2,
        "no-empty": 2,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-unreachable": 2,
        "valid-jsdoc": 1,

        "no-alert": 0,
        "no-eval": 2,
        "no-fallthrough": 2,
        "no-with": 2,
        "radix": 2,
        "wrap-iife": [2, "any"],


        "array-bracket-spacing": [2, "never"],
        "block-spacing": [1, "never"],
        "camelcase": 2,
        "jsx-quotes": 0,
        "max-len": [1, 200],
        "require-jsdoc": 1,
        "semi": [2, "always"],
        "semi-spacing": 0,


        "arrow-body-style": 2,
        "arrow-parens": 2,
        "arrow-spacing": [2, {
            "before": true,
            "after": true
        }],
        "no-const-assign": 2,
        "no-var": 0
    }
}